<div *ngIf="users?.length > 0"class="container">
    <h2>CDN - User Directory</h2>
    <button class="btn btn-success" (click)="addUser()">Add User</button>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Hobby</th>
          <th>Skillsets</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td class="align-middle">{{ user.username }}</td>
          <td class="align-middle">{{ user.email }}</td>
          <td class="align-middle">{{ user.phoneNumber }}</td>
          <td class="align-middle">{{ user.hobby }}</td>
          <td class="align-middle"><tag-input  [(ngModel)]="showOnlyTaglist[i]"  [modelAsStrings]="true" theme="bootstrap" class="tag" [disable]="true"  [hideForm] ="true"></tag-input></td>
          <td class="align-middle">
            <button class="btn btn-primary btn-sm" (click)="editUser(user)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteUser(user.username)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div *ngIf="users?.length == 0" class="container">
  <div class="d-flex justify-content-center">
    <div class="w-25 h-25 ">
    <ng-lottie height="auto" [options]="options"></ng-lottie>
    <h2>Oops ! Looks like no record. <button class="btn btn-success" (click)="addUser()">Add User</button> </h2>
  </div>   
  </div>
</div>




<div
  class="modal"
  tabindex="-1"
  role="dialog"
  style ="overflow-x:hidden"
  [ngStyle]="{'display':displayStyle}"
  *ngIf="edit_user_data != undefined" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit User</h4>
      </div>
      <div class="modal-body"> 
        <form [formGroup]="updateForm">     
          <div class="row">
              <div class="col-md-6">
                  <div class=" py-3">
                      <div class="row mt-2">
                        <label for="name" class="form-label">Username</label>
                          <div class="col-md-12"><input type="text" class="form-control" value="{{edit_user_data.username}}" disabled></div>
                      </div>
                      <div class="row mt-3">
                        <label for="name" class="form-label">Email</label>
                          <div class="col-md-12"><input type="text" class="form-control" placeholder="email" value="{{edit_user_data.email}}" id="email" name="email"  formControlName="email" required></div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                <div class=" py-3">
                <div class="row mt-2">
                  <label for="name" class="form-label">Phone Number</label>
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="phone" value="{{edit_user_data.phoneNumber}}" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" required></div>
                </div>
                <div class="row mt-3">
                  <label for="name" class="form-label">Hobby</label>
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="hobby" value="{{edit_user_data.hobby}}" id="hobby" name="hobby" formControlName="hobby"  required></div>
                </div>
              </div>
              </div>
      </div>
    </form>
      <div class="row">
        <div class="col-md-12">
          <div class=" py-0">
          <div class="row mt-0">
            <label for="name" class="form-label">Skillsets</label>
              <div class="col-md-12"><tag-input [(ngModel)]='taglist'  [modelAsStrings]="true" theme='bootstrap' [secondaryPlaceholder]='"Add skill"' [placeholder]='"Add skill"' ></tag-input></div>
          </div>
        </div>
        </div>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" 
        (click)="updateUser(edit_user_data.username)">
          Save
        </button>
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Discard
        </button>

      </div>
    </div>
  </div>
</div>